.page-main__abonements {
  background-color: $auxiliary-background;
  position: relative;
}

.abonements__wrapper {
  padding: 41px 15px 39px;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 61px;

    &::after {
      content: "";
      display: block;
      width: 324px;
      height: 355px;
      position: absolute;
      bottom: 32px;
      right: 0;
      overflow: hidden;
      background-image:
        image-set(
          url("../../img/abonements-bumper-disks-tablet@1x.webp") type("image/webp") 1x,
          url("../../img/abonements-bumper-disks-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/abonements-bumper-disks-tablet@1x.png") type("image/png") 1x,
          url("../../img/abonements-bumper-disks-tablet@2x.png") type("image/png") 2x,
        );
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 101px;

    &::after {
      width: 303px;
      height: 431px;
      bottom: 16px;
      background-image:
        image-set(
          url("../../img/abonements-bumper-disks-desktop@1x.webp") type("image/webp") 1x,
          url("../../img/abonements-bumper-disks-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/abonements-bumper-disks-desktop@1x.png") type("image/png") 1x,
          url("../../img/abonements-bumper-disks-desktop@2x.png") type("image/png") 2x,
        );
    }
  }
}

.abonements__title {
  font: $h3-mobile;
  margin: 0 auto 21px;
  width: fit-content;
  max-width: 290px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font: $h3-tablet;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    font: $h3-desktop;
    margin-bottom: 11px;
  }
}

.abonements__duration-list {
  @include list-style-none;

  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 28px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgba($color: #787878, $alpha: 0.2);
    bottom: 2px;
  }

  @media (min-width: $tablet-width) {
    width: fit-content;
    gap: 44px;
    margin: 0 auto 44px;
  }

  @media (min-width: $desktop-width) {
    gap: 51px;
    margin-bottom: 39px;

    &::after {
      bottom: 1px;
    }
  }
}

.abonements__duration-button {
  font: $tabs-lined-mobile;
  color: rgba($color: $primary, $alpha: 0.5);
  text-transform: none;
  padding: 10px 0;

  &:hover {
    color: rgba($color: $primary, $alpha: 0.7);
    text-decoration: underline 2px #787878;
    text-underline-offset: 9px;

    @media (min-width: $desktop-width) {
      text-underline-offset: 10px;
    }
  }

  &:focus-visible {
    color: $primary;
    text-decoration: underline 2px $primary;
    text-underline-offset: 9px;
    outline: none;

    @media (min-width: $desktop-width) {
      text-underline-offset: 10px;
    }
  }

  &:active {
    color: $primary;
    text-decoration: underline 2px #ed0233;
    text-underline-offset: 9px;
    outline: none;

    @media (min-width: $desktop-width) {
      text-underline-offset: 10px;
    }
  }

  &:disabled {
    opacity: 0.3;
    text-decoration: underline 2px $dark-border;
    text-underline-offset: 9px;
    pointer-events: none;

    @media (min-width: $desktop-width) {
      text-underline-offset: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    font: $tabs-lined-tablet;
  }

  @media (min-width: $desktop-width) {
    font: $tabs-lined-desktop;
  }
}

.abonements__duration-button--active {
  color: $primary;
  text-decoration: underline 2px $tabs-status;
  text-underline-offset: 9px;
  pointer-events: none;

  @media (min-width: $desktop-width) {
    text-underline-offset: 10px;
  }
}

.abonements__type-list {
  @include list-style-none;

  display: flex;
  flex-direction: column;
  gap: 34px;

  @media (min-width: $tablet-width) {
    width: 380px;
    position: relative;
    margin: 0 auto;
    gap: 41px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    flex-direction: row;
    width: 1160px;
    gap: 40px;
  }
}

.abonements__type-item {
  padding: 51px 42px;
  background-color: $white-background;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 64px 65px 65px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    padding-top: 65px;
    width: 360px;
  }
}

.abonements__type-title {
  font: $h4-mobile;
  color: $primary;
  text-align: center;
  margin-top: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font: $h4-tablet;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    font: $h4-desktop;
    margin-bottom: 18px;
  }
}

.abonements__type-description {
  font: $medium-mobile;
  text-align: center;
  margin-top: 0;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    font: $medium-tablet;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.abonements__cost-wrapper {
  position: relative;
  display: flex;
  min-height: 114px;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    min-height: 150px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
    min-height: 148px;
  }
}

.abonements__cost-background {
  font: $largest-number-mobile;
  position: absolute;
  top: -6px;
  margin: 0;
  color: rgba($color: #e8e8e8, $alpha: 0.5);

  @media (min-width: $tablet-width) {
    font: $largest-number-tablet;
    top: -1px;
  }
}

.abonements__cost-current {
  font: $medium-number-mobile;
  color: $primary-lighter;
  position: relative;
  z-index: 2;
  margin: 0;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 33px;
    margin-left: 10px;
    background-image: url("/__spritemap#sprite-abonements-rub-view");
  }

  @media (min-width: $tablet-width) {
    font: $medium-number-tablet;

    &::after {
      width: 30px;
      height: 42px;
      margin-left: 14px;
    }
  }
}

.abonements__type-link {
  font: $button-mobile;
  display: block;
  text-decoration: none;
  color: $primary;
  text-align: center;
  box-sizing: border-box;
  width: 206px;
  padding: 25px;
  border: 2px solid $primary;

  &:hover {
    background-image: linear-gradient($button-grad);
    color: $base-white;
    border: none;
  }

  &:focus-visible {
    background-image: linear-gradient(-80deg, rgba($color: #003eb7, $alpha: 0.8) 0%, rgba($color: #ed0233, $alpha: 0.8) 80%, rgba($color: #ed0233, $alpha: 0.8) 100%);
    color: $base-white;
  }

  &:active {
    background-image: linear-gradient($button-grad);
    color: rgba($color: $base-white, $alpha: 0.7);
    border: none;
  }

  &:focus-visible::after,
  &:active::after,
  &:hover::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-width: 7px;
    border-style: solid;
    border-image: linear-gradient($button-grad);
    border-image-slice: 1;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    font: $medium-button-tablet;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}

.abonements__type-link--disabled {
  opacity: 0.3;
  pointer-events: none;
}
