.hero {
  background-image: linear-gradient($grad-background);
}

.hero__wrapper {
  padding: 0 15px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0 45px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 103px 120px;
  }
}

.hero__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.hero__logo {
  margin: 0;
  padding: 16px 15px 18px 0;
  vertical-align: bottom;

  @media (min-width: $tablet-width) {
    padding: 31px 15px 31px 0;
  }
}

.hero__phone {
  display: block;
  text-decoration: none;
  font: $h4-mobile;
  color: $base-white;
  padding: 13px 0 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    font: $h4-tablet;
    padding: 30px 0;
  }

  @media (min-width: $desktop-width) {
    font: $h4-desktop;
    padding-top: 31px;
  }

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus-visible {
    color: $ancillary-block-background;
    outline: none;
  }

  &:active {
    color: $ancillary-block-background;

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: $primary;
      left: 0;
      bottom: 30%;
    }
  }

  &:disabled {
    color: $auxiliary-background;
  }
}

.hero__content-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    gap: 56px;
  }
}

.hero__info-wrapper {
  @media (min-width: $tablet-width) {
    max-width: 324px;
  }

  @media (min-width: $desktop-width) {
    max-width: 385px;
  }
}

.hero__text-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    gap: 26px;
    margin-top: 32px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    gap: 0;
    margin-bottom: 38px;
  }
}

.hero__subtitle {
  font: $small-mobile;
  display: block;
  max-width: 113px;
  margin: 0;
  text-align: end;
  color: $base-white;
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    font: $small-tablet;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.hero__title {
  font: $h1-mobile;
  display: block;
  max-width: 156px;
  text-transform: uppercase;
  text-align: end;
  color: $base-white;
  margin: 0;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    font: $h1-tablet;
    max-width: 185px;
    letter-spacing: 1.6px;
  }

  @media (min-width: $desktop-width) {
    font: $h1-desktop;
    max-width: 270px;
    letter-spacing: 4px;
  }
}

.hero__title-city {
  font: $h3-mobile;
  text-transform: none;
  display: block;
  margin-bottom: 14px;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    font: $h3-tablet;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    font: $h3-desktop;
    margin-bottom: 42px;
  }
}

.hero__button {
  font: $button-mobile;
  box-sizing: border-box;
  width: 290px;
  padding: 23px 22px 22px;
  border: 2px solid #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 185px;
    max-width: 185px;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    max-width: 270px;
    padding-top: 26px;
    padding-bottom: 24px;
  }

  &:hover {
    background-color: $main-background;
    color: $primary-lighter;
  }

  &:focus-visible {
    background-color: rgba($color: $main-background, $alpha: 0.8);
    border: 2px solid #000000;
    outline: none;
    color: $primary-lighter;
  }

  &:active {
    background-color: $main-background;
    outline: none;
    color: $primary;
  }
}

.hero__button--disabled {
  cursor: default;
  color: $base-white;
  opacity: 0.5;
  background-color: transparent;
  pointer-events: none;
}

.hero__coach-image-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.hero__image-coach {
  vertical-align: bottom;
  background-color: #2a3166;
  min-height: 390px;
  min-width: 324px;

  @media (min-width: $desktop-width) {
    display: block;
    margin-right: 72px;
    min-height: 524px;
    min-width: 500px;
  }
}
